:root {
    --primary-color: #ffa200;
    --secondary-color: #072f96;
    --accent1-color: #ffd6aa;
    --accent2-color: #070263;
    --lightfont: #FFFFFF;
    --darkfont: #000000;
    --header-font: 400 25px "Chelsea Market", system-ui;
    --text-font: 400 18px "Solway", serif;
}

* {
  box-sizing: border-box;
}


body {
    font: var(--text-font);
    text-align: center;
    margin: 0;
    background-color: var(--accent1-color);
}

header{    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#logo {
    width: 100px;
    height: auto;
    position: absolute;
    top: 2%;
    left: 2%;
}

.web-title {
    background-color: var(--primary-color);
    font: var(--header-font);
    color: var(--darkfont);
    font-size: 38px;
    width: 100%;
    padding: 40px 0;
    display: block;
}

#menu {
    background: none;
    color: var(--darkfont);
    position: absolute;
    top: 2.3rem;
    right: 1rem;
    border: 0;
    font-size: 35px;
    display: block;   
}

#menu::before {
    color: var(--lightfont);
    content:"☰" ;
}

#menu.open::before {
    color: var(--lightfont);
    content:"X";
}


nav {
    width: 100%;
}

.navigation {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    margin: 0;
}

.navigation a {
    color: var(--lightfont);
    text-decoration: none;
    padding: 15px;
    font-weight: bold;
    display: none;
    font-size: 20px;
}

.navigation a:hover {
    background-color: var(--accent2-color);
    border: 1px solid var(--darkfont);
}

.open {
    background-color: var(--secondary-color);
}

.open a {
    display: block;
}

main{
    margin: 10px;
}

h1 {
    font: var(--header-font);
}

h2 {
    font: var(--header-font);
    font-size: 21px;
}

h3 {
    font: var(--header-font);
    font-size: 25px;
}

.catalog {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    color: var(--lightfont);
}

.card {
    background-color: var(--secondary-color);
    border: 1px solid black;
    padding: 10px;
}

img {
    background-color: #eee;
    overflow: hidden;
    object-fit: cover;
}

footer {
    background-color: var(--primary-color);
    color: var(--darkfont);
    padding: 1rem;
    width: 100%; 
}