:root {
    --primary-color: #c90751;
    --secondary-color: #E6E2D7;
    --accent1-color: #435058;
    --accent2-color: #fddeef;
    --special-darkcolor: #DC0457;
    --header-font: 400 35px "Bree Serif", serif;
    --text-font: 400 18px "Ubuntu", sans-serif;
}

body {
    font: var(--text-font);
    box-sizing: border-box;
    margin: 0;
}

header {
    background-color: var(--primary-color);
    color: var(--accent2-color);
    padding: 5px 0 5px 20px;
    margin-bottom: 1rem;
    text-align: center;
}

h1 {
    font: var(--header-font);
}

main {
    margin-left: 10px;
    justify-items: center;
}

.form-box {
    background-color: var(--secondary-color);
    width: 100%;
    max-width: 300px;
    justify-items: center;
    padding: 15px;
}

label {
    display: block;
}

h2 {
    margin-top: 20px;
    font-size: 20px;
    color: var(--special-darkcolor);
}

input, select, textarea {
    padding: 0.70rem;
}

.stars {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  width: 140px;
  margin-bottom: 50px;
  position: relative;
}

.stars input {
  display: none;
}

.stars label {
  font-size: 30px;
  color: var(--accent1-color);
  cursor: pointer;
  position: relative;
}

.stars label::before {
  content: '☆';
  position: absolute;
  top: 0;
  left: 0;
}

.stars input:checked ~ label::before,
.stars label:hover::before,
.stars label:hover ~ label::before{
  content: '★';
  color: var(--primary-color);
}


input[type="checkbox"] {
    margin-right: 8px;
}

input[type="submit"] {
    margin-top: 20px;
    padding: 10px;
    display: block;
    border-radius: 6px;
    background-color: var(--accent1-color);
    color: var(--secondary-color);
    font: var(--text-font)
}

footer {
    background-color: var(--primary-color);
    color: var(--accent2-color);
    padding: 5px 0 5px 20px;
    margin-top: 1rem;
    text-align: center;
}