:root {
    --primary-color: #3D348B;
    --secondary-color: #ffffff;
    --accent1-color: #1E6E46;
    --accent2-color:#EFFFFE;
    --lightfont: #ffffff;
    --darkfont: #000000;
    --header-font: 400 24px "PT Sans", sans-serif;
    --text-font: 400 17px "Abel", sans-serif;
}

* {
    font: var(--text-font);
    text-align: center;
}

body {
    margin: 0;
}

header{
    background-color: var(--primary-color);
    padding: 1rem;
}

h1 {
    font: var(--header-font);
    color: var(--lightfont);
}

img {
    max-width: 100%;
    height: auto;
    background-size: cover;
}

.hero {
    background-color: var(--accent1-color);
}

h2 {
    font: var(--header-font);
    color: var(--lightfont);
    background-color: var(--accent1-color);
    border: 1px solid black;
}

/*.weather h2::after {
    content: "🌤️";
    font-size: 2rem;
    margin-left:0.5rem
}
*/

.square {
    width: auto;
    margin: 4%;
}

.left {
    text-align: end;
    font-weight: bold;
}

.right {
    text-align: start;
}

.content {
    display: flex;
    justify-content: center;
    gap: 3px;
}

.icon {
    width: 5rem;
    height: auto;
}

footer{
    background-color: var(--primary-color);
    color: var(--lightfont);
    padding: 1rem;
}