:root {
    --primary-color: #047a8f;
    --secondary-color: #e8ffff;
    --accent1-color: #3170af;
    --accent2-color:#D3D3FF;
    --whitefont: #ffffff;
    --blackfont: #000000;
    --header-font: 300 22px "Libertinus Serif Display", system-ui;
    --text-font: 400 16px "Oxygen", sans-serif;
}

body {
    font: var(--text-font);
    text-align: center;
}

header{
    background-color: var(--primary-color);    
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    min-width: 400px;   

}
.web-title {
    font: var(--header-font);
    color: var(--whitefont);
    width: auto;
}

#menu {
    background: none;
    color: var(--blackfont);
    position: absolute;
    top: 1rem;
    right: 1rem;
}

#menu::before {
    content:"☰" ;  
}

#menu.open::before {
    content:✖️;
}


nav {
    width: 100%;
}

.navigation {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
}

.navigation a {
    color: var(--accent1-color);
    text-decoration: none;
    padding: 15px;
    font-weight: bold;
    display: none;
}

.navigation a:hover {
    background-color: var(--accent2-color);
    border: 1px solid var(--blackfont);
}

.open {
    background-color: var(--secondary-color);
}

.open a {
    display: block;
}

h1 {
    font: var(--header-font);
}

.album {
    display: grid;
    /*grid-template-columns: repeat(3, 1fr);*/
    grid-template-columns: 1fr;
    padding: 1rem;
}

img {
    max-width: 350px;
    height: auto;
}


footer {
    background-color: var(--primary-color);
    color: var(--whitefont);
    padding: 1rem;
    max-width: 100%;
    min-width: 400px;   
}